<nav class="navbar navbar-light bg-faded">
    <!--<button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar2">
    &#9776;
</button>-->
    <a class="navbar-brand" href="/">Superhero Club</a>
    <!--<div class="collapse navbar-toggleable-xs" id="exCollapsingNavbar2">-->

    <ul class="nav navbar-nav navbar-right">

        <% if (!user) {%>
            <li><a class="dropdown-toggle" data-toggle="dropdown" href="#">Sign Up/Login</a>
                <ul class="dropdown-menu">
                    <li><a href="/signup">Sign Up</a></li>
                    <li><a href="/login">Login</a></li>

                </ul>

            </li>

            <%} else { %>

                <li>
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <%= user.profile.name %>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="/profile">Your Profile</a>
                        </li>
                        <li><a href="/logout">Logout</a></li>

                    </ul>

                </li>

                <% } %>
    </ul>
    <!--</div>-->
</nav>



<!--<nav class="navbar navbar-inverse navbar-static-top navbar-light bg-faded">
    <div class="container">
        <a href="/" class="navbar-brand">Hello</a>



       



    </div>
</nav>-->