<%- layout('template1') -%>


<h1>Awesome Shop</h1>
<p>This is the tagline</p>


<p>Signup to start buying</p>
<h3>Start your search</h3>


<p>Our prices are awesome</p>


<h3>Cool section</h3>
<p>Our prices are awesome!!</p>


<h3>Lovely section</h3>
<p>Our prices are awesome!!!</p>